In [0]:
# /FileStore/tables/Sales_SalesOrderDetail-4.csv

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DecimalType, DateType
from pyspark.sql import functions as F
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("AzureFunctionDateProcessing").getOrCreate()

# Define the schema
schema = StructType([
    StructField("SalesOrderID", IntegerType(), True),
    StructField("SalesOrderDetailID", IntegerType(), True),
    StructField("CarrierTrackingNumber", StringType(), True),
    StructField("OrderQty", IntegerType(), True),
    StructField("ProductID", IntegerType(), True),
    StructField("SpecialOfferID", IntegerType(), True),
    StructField("UnitPrice", DecimalType(10, 2), True),
    StructField("UnitPriceDiscount", DecimalType(10, 2), True),
    StructField("LineTotal", DecimalType(20, 2), True),
    StructField("rowguid", StringType(), True),
    StructField("ModifiedDate", DateType(), True)
])

# Load the data with the schema
df = spark.read.format('csv').option('header', 'false').schema(schema).load("/FileStore/tables/Sales_SalesOrderDetail-4.csv")

# Show few rows to verify data loading
df.show(10)

from pyspark.sql.functions import col, from_utc_timestamp, to_utc_timestamp

# Convert ModifiedDate to IST and explicitly to UTC
df_with_timezones = df.withColumn("ModifiedDate_IST", from_utc_timestamp("ModifiedDate", "Asia/Kolkata")) \
                      .withColumn("ModifiedDate_UTC", to_utc_timestamp("ModifiedDate", "UTC"))

# Show the results with SalesOrderID, SalesOrderDetailID, and modified date columns
df_with_timezones.select("SalesOrderID", "SalesOrderDetailID", "ModifiedDate", "ModifiedDate_UTC", "ModifiedDate_IST").distinct().show(truncate=False)



# Convert ModifiedDate to IST and UTC
#df_with_timezones = df.withColumn("ModifiedDate_IST", from_utc_timestamp("ModifiedDate", "Asia/Kolkata")) \
                      .withColumn("ModifiedDate_UTC", to_utc_timestamp("ModifiedDate", "UTC"))

# Group by ModifiedDate and select distinct entries
df_grouped = df_with_timezones.groupBy("ModifiedDate") \
    .agg({"SalesOrderID": "count"}) \
    .withColumnRenamed("count(SalesOrderID)", "OrderCount") \
    .withColumn("ModifiedDate_IST", from_utc_timestamp("ModifiedDate", "Asia/Kolkata")) \
    .withColumn("ModifiedDate_UTC", to_utc_timestamp("ModifiedDate", "UTC"))

# Show the result grouped by ModifiedDate with timezones
df_grouped.select("ModifiedDate", "ModifiedDate_UTC", "ModifiedDate_IST", "OrderCount").show(truncate=False)

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|             rowguid|ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1|  2024.99|             0.00|  2024.99|B207C96D-D9E6-402...|  2011-05-31|
|       43659|                 2|         4911-403C-98|       3|      777|             1|  2024.99|             0.00|  6074.98|7ABB600D-1E77-41B...|  2011-05-31|
|       43659|                 3|         4911-403C-98|       1|      778|             1|  2024.99|             0.00|  2024.99|475CF8C6-49F6-486...|  2011-05-31|
|       43659|                 4|         4911-403C-98|       1|      771|             1|  2039.99|             0.00|  2039.99|04C4DE91-5815-45D...|  2011-05-31|
|       43659|                 5|         4911-403C-98|       1|      772|             1|  2039.99|             0.00|  2039.99|5A74C7D2-E641-438...|  2011-05-31|
|       43659|                 6|         4911-403C-98|       2|      773|             1|  2039.99|             0.00|  4079.99|CE472532-A4C0-45B...|  2011-05-31|
|       43659|                 7|         4911-403C-98|       1|      774|             1|  2039.99|             0.00|  2039.99|80667840-F962-4EE...|  2011-05-31|
|       43659|                 8|         4911-403C-98|       3|      714|             1|    28.84|             0.00|    86.52|E9D54907-E7B7-496...|  2011-05-31|
|       43659|                 9|         4911-403C-98|       1|      716|             1|    28.84|             0.00|    28.84|AA542630-BDCD-4CE...|  2011-05-31|
|       43659|                10|         4911-403C-98|       6|      709|             1|     5.70|             0.00|    34.20|AC769034-3C2F-495...|  2011-05-31|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+------------+
only showing top 10 rows

+------------+------------------+------------+-------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|ModifiedDate|ModifiedDate_UTC   |ModifiedDate_IST   |
+------------+------------------+------------+-------------------+-------------------+
|43659       |9                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |19                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |17                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |11                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |15                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43660       |14                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |21                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |16                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |2                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |12                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |5                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |6                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |18                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |8                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |1                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43661       |20                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |10                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43660       |13                |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |4                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
|43659       |3                 |2011-05-31  |2011-05-31 00:00:00|2011-05-31 05:30:00|
+------------+------------------+------------+-------------------+-------------------+
only showing top 20 rows

+------------+-------------------+-------------------+----------+
|ModifiedDate|ModifiedDate_UTC   |ModifiedDate_IST   |OrderCount|
+------------+-------------------+-------------------+----------+
|2012-04-17  |2012-04-17 00:00:00|2012-04-17 05:30:00|6         |
|2012-10-06  |2012-10-06 00:00:00|2012-10-06 05:30:00|5         |
|2013-01-22  |2013-01-22 00:00:00|2013-01-22 05:30:00|3         |
|2013-03-26  |2013-03-26 00:00:00|2013-03-26 05:30:00|11        |
|2013-05-21  |2013-05-21 00:00:00|2013-05-21 05:30:00|6         |
|2011-10-07  |2011-10-07 00:00:00|2011-10-07 05:30:00|9         |
|2012-07-17  |2012-07-17 00:00:00|2012-07-17 05:30:00|8         |
|2011-07-07  |2011-07-07 00:00:00|2011-07-07 05:30:00|4         |
|2011-07-18  |2011-07-18 00:00:00|2011-07-18 05:30:00|6         |
|2011-08-21  |2011-08-21 00:00:00|2011-08-21 05:30:00|8         |
|2011-11-18  |2011-11-18 00:00:00|2011-11-18 05:30:00|14        |
|2012-11-11  |2012-11-11 00:00:00|2012-11-11 05:30:00|12        |
|2013-02-02  |2013-02-02 00:00:00|2013-02-02 05:30:00|6         |
|2012-02-12  |2012-02-12 00:00:00|2012-02-12 05:30:00|10        |
|2012-08-23  |2012-08-23 00:00:00|2012-08-23 05:30:00|9         |
|2012-09-21  |2012-09-21 00:00:00|2012-09-21 05:30:00|7         |
|2011-11-14  |2011-11-14 00:00:00|2011-11-14 05:30:00|12        |
|2012-03-30  |2012-03-30 00:00:00|2012-03-30 05:30:00|1124      |
|2012-07-14  |2012-07-14 00:00:00|2012-07-14 05:30:00|12        |
|2013-02-04  |2013-02-04 00:00:00|2013-02-04 05:30:00|14        |
+------------+-------------------+-------------------+----------+
only showing top 20 rows